<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/fragments :: head">
</head>
<body>
<div class="container">
    <div th:replace="fragments/fragments :: navbar"></div>
    <ul class="nav nav-tabs">
        <li role="presentation" th:classappend="${filter == 'all' ? 'active' : '' }">
            <a href="/tweets">All</a></li>
        <li role="presentation" th:classappend="${filter == 'following' ? 'active' : '' }">
            <a href="/tweets?filter=following">Following</a></li>
    </ul><br/>
    <h2>Tweets</h2>
    <div th:each="tweet:${tweetList}" style="border: 1px solid #ADD8E6; margin: 4px; background-color: #ADD8E6">
        <h5>@<a th:href="@{/users/} + ${tweet.user.username}"><span th:text="${tweet.user.username}"></span></a>
            <small><span th:text="${tweet.date}"></span></small></h5>
        <p th:utext="${tweet.message}"></p>
    </div>
</div>
<div th:if="${#lists.isEmpty(tweetList) and filter == 'all'}">
    <h3>No tweets have been created yet</h3>
</div>
<div th:if="${#lists.isEmpty(tweetList) and filter == 'following'}">
    <h3>No tweets have been created by your followers</h3>
</div>
<div th:replace="fragments/fragments :: scripts">
</div>
</body>
</html>